body {
	background-image: url("./background.png");
	background-size: 100%;
	color: #fff;
	font-size: 156px;
	font-family: "Avenir";
	src: url('./Avenir.ttc');
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 100%;
}

.countdown-event {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: left;		
}

.title {
	position: absolute;
	left: 94px;
	letter-spacing: 2px;	
	font-weight: 100;
	text-align: left;
	font-size: 70px;		
}

#top-title {
	top: 86px;
}

#bottom-title {
	top: 625px;
}

#top-timer {
	top: 27.6%;
}

#bottom-timer {
	top: 77.5%;
}

.days {
	position: fixed;
	left: 5.5%;
}

.hours {
	position: fixed;
	left: 25.5%;
}

.mins {
	position: fixed;
	left: 45.5%;
}

.secs {
	position: fixed;
	left: 65.5%;
}